
#Ignore thumbnails created by Windows
Thumbs.db
#Ignore files built by Visual Studio
*.obj
*.exe
*.dll
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.class
*.jar
*.zip
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
bin/
lib/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
.vs/
.idea/
amz/
#Nuget packages folder
packages/
.idea/
._*
__pycache__
.DS_Store